/* Add CSS Styling */ 

.pinkbg {
  background-color: #e85aa8;
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
  color: blue;
  font-size: 36px;
}

.third {
  font-size: 24px;
}

#fourth {
  background-color: #5ccc67;
  font-size: 24px;
  font-weight: 700;
}
