body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  width: 600px;
  padding: 16px;
}

.title {
  display: block;
  background: #e3f4ff;
  font-size: 24px;
}

.content {
  display: block;
  background: #e3f4ff;
  font-size: 24px;
  margin-bottom: 16px;
}

.button-container {
  display: block;
  background: #e3f4ff;
  font-size: 24px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
  font-size: 24px;
}
